.ProgressBarHealth {
    /* The entire element */
    border: 2px;
    background: black;
    text-align: center;
    width: 145px;
}


.ProgressBarEnergy {
    /* The entire element */
    border: 2px;
    background: black;
    text-align: center;
    width: 145px;
}


.ProgressBarMana {
    /* The entire element */
    border: 2px;
    background: black;
    text-align: center;
    width: 145px;
}


.ProgressBarXP {
    /* The entire element */
    border: 2px;
    background: black;
    text-align: center;
    width: 145px;
}


.ProgressBarHealth::-webkit-progress-value {
    /* Filled part of the bar */
    background: red;
}


.ProgressBarEnergy::-webkit-progress-value {
    /* Filled part of the bar */
    background: rgb(50, 200, 0);
}


.ProgressBarMana::-webkit-progress-value {
    /* Filled part of the bar */
    background: rgb(50, 90, 255);
}


.ProgressBarXP::-webkit-progress-value {
    /* Filled part of the bar */
    background: rgb(100, 50, 210);
}


/*
.ProgressBar::-moz-progress-bar {
    background: lightcolor;
}
*/


.ProgressBarHealth::-webkit-progress-bar {
    /* Empty part of the bar */
    background: lightgrey;
    border-radius: 5px;
    overflow: hidden;   /* Critical */
    width: 145px;
}


.ProgressBarEnergy::-webkit-progress-bar {
    /* Empty part of the bar */
    background: lightgrey;
    border-radius: 5px;
    overflow: hidden;   /* Critical */
    width: 145px;
}


.ProgressBarMana::-webkit-progress-bar {
    /* Empty part of the bar */
    background: lightgrey;
    border-radius: 5px;
    overflow: hidden;   /* Critical */
    width: 145px;
}


.ProgressBarXP::-webkit-progress-bar {
    /* Empty part of the bar */
    background: lightgrey;
    border-radius: 5px;
    overflow: hidden;   /* Critical */
    width: 145px;
}


.ProgressStat {
    color: white;
    font-weight: bold;
    /* right: 100px; */
    position: relative;
}
